@import "mixins.scss";

.flip-card-info{
    float:right;
	top:2vh;
    width: 50px;
    height: 50px;
    position: relative;
	z-index: 2;

}

.flip-card {
	background-color: transparent;
    width: 65%;
	height: 30vh;
    perspective: 1000px;
    border-radius: 15px;
}

.flip-card-inner {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	transition: transform 0.9s;
    transform-style: preserve-3d;
}
.flip-card-info:hover + .flip-card-inner {
	transform: rotateY(180deg);
}
.flip-card-inner:hover{
	cursor: pointer;
}
.flip-card-front,
.flip-card-back {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 1em solid $lightgreen;
    border-radius: 15px;
}

.flip-card-front {
	background-color: #bbb;
	color: black;
}

.flip-card-back {
	background-color: $lightgreen;
	color: white;
    transform: rotateY(180deg);
    border: 1em solid $lightgreen;
}
