@import "mixins.scss";
@import 'variables.scss';

#battleResult{
	margin-top: 15vh;
}
#battleResult .container {
	height: 80vh;
	display: grid;
	place-items: center;
	grid-template-rows: 2fr 4fr 3fr;
}

#battleResult .container .battle-h1 {
	font-size: 7vw;
}

#battleResult .container .VS {
	height: 9vh;
}

#battleResult .match-container{
	display:grid;
	width:100%;
	place-items: center;
}
#battleResult .competitior-img{
    width: 100%;
    height: 100%;
}

.resultPotato{
	height: 38vh;
	display: grid;
	place-items: center;
	width: 38vw;
}
#battleResult .container .nextBattleBtn {
	@include button;
	position: relative;
	z-index: 3;
}

#battleResult .winnerData{
	display: grid;
	grid-template-rows: 1fr 1fr 1fr 1fr;
	align-items: center;
}

#battleResult .winnerData-p{
	color: $orange;
	font-size: 20px;
}

#battleResult .resultPotato{
	height: 300px;
	width: 400px;
	background-image: url('../../assets/result-potato-smaller.svg');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
	bottom: 30px;
}

#battleResult .competitor-img{
	max-width: 40%;
	max-height: 40%;
}

@media only screen and (min-width: 700px){
	#battleResult .container .VS {
		height: 12vh;
	}

	#battleResult .container {
        grid-template-rows: 0fr 1fr 1fr;
	}

	#battleResult .container .battle-h1{
		font-size: 2.5vw;
		margin-top: 1vh;
	}

    
	#battleResult .match-container{
        grid-template-columns: 4fr 1fr 4fr;
		max-width:70vw;
		
	}
	
    #battleResult .flip-card h1 {
        font-size: 33px;
	}
	
	#battleResult .resultPotato{
		height: 40vh;
		width: 100vw;
		background-image: url('../../assets/result-potato-smaller.svg');
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		position: relative;
		margin-top: 10vh;
	}

	#battleResult .container .nextBattleBtn {
		position: relative;
		z-index: 3;
		@include button;
	}
	
	#battleResult .winnerData{
		display: grid;
		grid-template-rows: 1fr 1fr 1fr 1fr; 
		align-items: center;
	}
	
	#battleResult .winnerData-p{
		color: $orange;
		font-size: 28px;
	}	
}
@media only screen and (min-width: 700px) and (max-width:900px){
	#battleResult .container h1{
		font-size: 5vw;
	}
}

@media only screen and (min-width: 700px) and (max-width: 1350px){
    #battleResult .flip-card{
		max-width:50vw;
		width: 80%;
	}
	#battleResult .match-container{
        grid-template-columns: 4fr 1fr 4fr;
        max-width:70vw;
    }
    #battleResult .flip-card h1 {
        font-size: 2vw;
	}
	
	#battleResult .container .battle-h1 {
		font-size: 4vw;
	}
}

@media only screen and (min-width: 700px) and (max-width: 930px){
    #battleResult .flip-card{
		max-width:100vw;
		width: 90%;
	}
	#battleResult .match-container{
        grid-template-columns: 4fr 1fr 4fr;
        max-width:80vw;
    }
	#battleResult .container .battle-h1 {
		font-size: 5vw;
	}
	
}