@import "mixins.scss";
@import 'variables.scss';

#battleResult{
	margin-top: 8vh;
	height: 80vh;
}
#battleResult .container {
	height: 100%;
	display: grid;
	place-items: center;
	grid-template-rows: 1fr 4fr 2fr;
}
#battleResult .divMargin{
	margin-top:1vh;
	margin-bottom:1vh;
}

#battleResult .container .battle-h1 {
	font-size: 7vw;
}

#battleResult .container .VS {
	height: 9vh;
}

#battleResult .match-container{
	display:grid;
	width:100%;
	place-items: center;
}
#battleResult .competitior-img{
    width: 100%;
    height: 100%;
}
#battleResult .orange{
	color: $orange;
}
#battleResult .textDiv{
	display: grid;
	place-items: center;
	margin:2vh 0;
}

#battleResult .link-to{
	@include link
}
#battleResult .noResults{
	display:grid;
	place-items: center;
	grid-gap: 2vh;
}
#battleResult .container .battleBtn {
	margin-top:1.5vh;
	@include button;	
}
#battleResult .container .battleBtn:hover {
	@include button-hover;	
}


#battleResult .winnerData{
	display: grid;
	place-items: center;
}

#battleResult .winnerData-p{
	color: $orange;
	font-size: 2vh;
}

.resultPotato{
	
}
#battleResult .resultPotato{
	height: 100%;
	display: grid;
	place-items: center;
	width: 70vw;
	background-image: url('../../assets/result-potato-smaller.svg');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
}


#battleResult .competitor-img{
	max-width: 40%;
	max-height: 40%;
}

@media only screen and (min-width: 700px){
	#battleResult{
		margin-top: 10vh;
	}
	#battleResult .container .VS {
		height: 12vh;
	}

	#battleResult .container {
        grid-template-rows: 0fr 1fr 1fr;
	}

	#battleResult .container .battle-h1{
		font-size: 2.5vw;
		margin-top: 1vh;
	}

    
	#battleResult .match-container{
        grid-template-columns: 4fr 1fr 4fr;
		max-width:70vw;
		
	}
	
    #battleResult .flip-card h1 {
        font-size: 33px;
	}
	
	#battleResult .resultPotato{
		height: 100%;
		width: 100vw;
		background-image: url('../../assets/result-potato-smaller.svg');
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		position: relative;
	}
	
	#battleResult .winnerData{
		display: grid;
		place-items: center;
	}
	
	#battleResult .winnerData-p{
		color: $orange;
		font-size: 2.5vh;
	}	
}
@media only screen and (min-width: 700px) and (max-width:900px){
	#battleResult .container h1{
		font-size: 5vw;
	}
}

@media only screen and (min-width: 700px) and (max-width: 1350px){
    #battleResult .flip-card{
		max-width:50vw;
		width: 80%;
	}
	#battleResult .match-container{
        grid-template-columns: 4fr 1fr 4fr;
        max-width:70vw;
    }
    #battleResult .flip-card h1 {
        font-size: 2vw;
	}
	
	#battleResult .container .battle-h1 {
		font-size: 4vw;
	}
}

@media only screen and (min-width: 700px) and (max-width: 930px){
    #battleResult .flip-card{
		max-width:100vw;
		width: 90%;
	}
	#battleResult .match-container{
        grid-template-columns: 4fr 1fr 4fr;
        max-width:80vw;
    }
	#battleResult .container .battle-h1 {
		font-size: 5vw;
	}
	
}