@import "mixins.scss";

.flip-card-info{
    float:right;
	top:1vh;
	right:0.5vh;
    width: 6vw;
    position: relative;
	z-index: 2;
}

.flip-card-crown{
	position: absolute;
	z-index: 3;
	left: -4vw;
	top: -4vh;
	transform: rotate(-45deg);
	width:8vh;
	height:8vh;
}
.flip-card-crown img{
	width:100%;
	height:100%
}
.flip-card {
	background-color: transparent;
	width:50%;
	height: 20vh;
    perspective: 1000px;
    border-radius: 15px;
}

.flip-card-inner {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	transition: transform 0.9s;
    transform-style: preserve-3d;
}

.flip-card-info:hover{
	transition: opacity 0.9s;
	opacity: 0;
}

.flip-card-info:hover + .flip-card-inner {
	transform: rotateY(180deg);
}

.flip-card-inner:hover{
	cursor: pointer;
}

.flip-card .inner-card-p{
	font-size: 2vh;
	line-height: 1.3;
}


.flip-card-front,
.flip-card-back {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 1.5vh solid $lightgreen;
    border-radius: 15px;
}

.flip-card-front {
	background-color: #bbb;
	color: black;
}

.flip-card-back {
	background-color: $lightgreen;
	color: white;
    transform: rotateY(180deg);
    border: 1em solid $lightgreen;
}

.flip-card-h2{
	font-size: 3vh;
}
@media only screen and (min-width: 700px){
	#battleResult .flip-card{
		height:20vh;
	}
	.flip-card-info{
		float:right;
		top:1vh;
		right:0.5vh;
		width: 2vw;
		position: relative;
		z-index: 2;
	}
	.flip-card-crown{
		left: -2vw;
		top: -4vh;
	}
}

@media only screen and (min-width: 700px) and (max-width: 1350px){
	.flip-card-crown{
		left: -2.5vw;
		top: -4.2vh;
	}
}



@media only screen and (min-width: 700px) and (max-width: 900px){
	.flip-card-crown{
		left: -4.5vw;
		top: -4.2vh;
	}
}
@media only screen and (max-width: 600px){
	.flip-card{
		width: 60%;
	}
}

@media only screen and (min-width: 1200px) and (max-width: 1650px){
	.flip-card {
	
		width: 70%;
		
		
	}
	.flip-card-front{
		height:25vh;
	}
}
