@import "mixins.scss";

#battleResult .container {
	height: 80vh;
	display: grid;
	place-items: center;
    grid-gap: 1em;
}

#battleResult .container h1 {
	font-size: 7vw;
}

#battleResult .container .VS {
	height: 15vh;
	width: 20vw;
}
#battleResult .match-container{
	display:grid;
	width:100%;
	place-items: center;
}
.competitior-img{
    width: 100%;
    height: 100%;
}

.resultPotato{
	height: 38vh;
	width: 38vw;
	background-image: url('../../assets/result-potato-smaller.svg');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.asd{
	width: 30vw;
	cursor: pointer;
}

.flip-card-info{
    float:right;
	top:2vh;
    width: 50px;
    height: 50px;
    position: relative;
	z-index: 2;

}

.flip-card {
	background-color: transparent;
    width: 65%;
	height: 30vh;
    perspective: 1000px;
    border-radius: 15px;
}

.flip-card-inner {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	transition: transform 0.9s;
    transform-style: preserve-3d;
}
.flip-card-info:hover + .flip-card-inner {
	transform: rotateY(180deg);
}
.flip-card-info:hover{
	opacity: 0;
}
.flip-card-front,
.flip-card-back {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 1em solid $lightgreen;
    border-radius: 15px;
}

.flip-card-front {
	background-color: #bbb;
	color: black;
}

.flip-card-back {
	background-color: $lightgreen;
	color: white;
    transform: rotateY(180deg);
    border: 1em solid $lightgreen;
}
.competitor-img{
	max-width: 40%;
	max-height: 40%;
}
@media only screen and (min-width: 650px){

	#battleResult .container {
        grid-template-rows: 1fr 2fr 2fr;

	}
	#battleResult .container h1{
		font-size: 4vw;
	}
    #battleResult .flip-card{
		max-width:20vw;
	}
    #battleResult .container .VS {
        height: 15vh;
        width: 10vw;
	}
	#battleResult .match-container{
        grid-template-columns: 4fr 1fr 4fr;
        max-width:70vw;
    }
    #battleResult .flip-card h1 {
        font-size: 33px;
    }
	
}

@media only screen and (min-width: 600px) and (max-width: 1350px){
	#battleResult .container {
		grid-template-rows: 1fr 2fr 2fr;
    }
    #battleResult .flip-card{
		max-width:50vw;
		width: 80%;
	}
    #battleResult .container .VS {
        height: 15vh;
        width: 10vw;
	}
	#battleResult .match-container{
        grid-template-columns: 4fr 1fr 4fr;
        max-width:70vw;
    }
    #battleResult .flip-card h1 {
        font-size: 33px;
    }
	
}
