@import 'variables.scss';
@import 'mixins.scss';

.Competitors{
	overflow-y: scroll;
	
	.go-to-battle-button{
		@include button
	}
	.go-to-battle-button{
		margin-left: 1em;
	}
	.go-to-battle-button:hover:not(:disabled){
		@include button-hover
	}
	.go-to-battle-button:disabled{
		border: 2px solid lightgrey;
		color: lightgrey;
	}
	.container-competitors{
		margin: 12vh 0 1em 3em;
	}
	.container-competitors h2{
		display: inline-block;
	}
	.back-to-battle{
		text-decoration: none;
		margin: 0 3em 0;
		color: $darkpurple;
	}
	.back-to-battle:hover{
		text-decoration: underline $darkpurple;
	}
}
.Competitors > .Gallery .container-list{
	margin-top: 0.5em;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1.5em 1em;
    gap: 1.5em 1em;
}

// Media
@media screen and (max-width: 1000px){
    .Competitors > .Gallery .container-list{
        grid-template-columns: repeat(3, 1fr);
    }
}
@media screen and (max-width: 850px){
    .Competitors > .Gallery .container-list{
        grid-template-columns: repeat(2, 1fr);
	}
	.Competitors .back-to-battle{
		margin: 1.5em 2.5em 0;
	}
	.Competitors .container-competitors{
		margin-left: 2.5em;
	}
}
@media screen and (max-width: 700px){
    .Competitors .container-competitors{
		display: flex;
		flex-direction: column;
		place-items: center;
		margin-top: 10vh;
		margin-left: 0;
	}
	.Competitors .container-competitors h2{
		text-align: center;
		display: block;
		margin: 0.8em 2em 0.2em;
	}
	.Competitors .container-competitors .go-to-battle-button{
		margin: 0.2em 0 1em;
	}
}
@media screen and (max-width: 550px){
    .Competitors > .Gallery .container-list{
		grid-template-columns: repeat(1, 1fr);
		margin: 0 2em 15%;
	}
	.Competitors .container-competitors{
		margin-top: 10vh;
	}
}