@import 'variables.scss';
@import 'mixins.scss';

.Competitors{
	overflow-y: scroll;
	h2{
		display: inline;
	}
	.go-to-battle-button{
		@include button
	}
	.go-to-battle-button:hover{
		@include button-hover
	}
	.container-competitors{
		margin-top: 10vh;
		margin-left: 1em;
	}
}
