@import 'variables.scss';
@import 'mixins.scss';

.Competitors{
	overflow-y: scroll;
	h2{
		display: inline;
	}
	.go-to-battle-button{
		@include button
	}
	.go-to-battle-button:hover:not(:disabled){
		@include button-hover
	}
	.go-to-battle-button:disabled{
		border: 2px solid lightgrey;
		color: lightgrey;
	}

	.container-competitors{
		margin-top: 15vh;
		margin-left: 1em;
	}
}
