.App-footer{
	position:absolute;
	bottom:0;
	width:100%;
	z-index: -100;
}
.bottom-wave{
	position: fixed;
	bottom: 0;
	z-index:0;
	width: 45%;

}
@media screen and (max-width: 880px) {
	.bottom-wave{
		width: 80%;
	}
  }
