@import 'mixins.scss';
@import 'variables.scss';

//TODO detta är potatisen för desktop. Jag ska ha den för mobilen egentligen, och desktop ska ligga under
//TODO stava potetoe som potato

// @media screen and (max-width: 880px) {
//     .test{
//         test: test;
//     }

//   }
//obs fixa även desktop, glöm inte att detta är mobilefirst
.form-wrapper{

// display:flex;
// justify-content:center;
	// position: fixed;
	// top: 50%;
	// left: 50%;
	// margin-top: -50px;
	// margin-left: -100px;
	background-image:url('../../assets/formpotatoe.svg');
	height:35em;
	background-size:contain;
	background-repeat:no-repeat;
	background-position:center;
	border:1px solid black;
	// width:50%vw;

	

}
