@import 'mixins.scss';
@import 'variables.scss';

.form-component{
	position:relative;
	height:100vh;
}

.form-wrapper{
	position:absolute;
	background-image:url('../../assets/formpotatomobile.svg');
	height:80%;
	background-size:contain;
	background-repeat:no-repeat;
	background-position:center;
	top: 5em;
	z-index: 10;
	margin-left: .5em;
	margin-right: .5em ;
	left: 0;
	right: 0;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	
		p{
			color:$orange;
			font-size:22px;
			margin-bottom:1em;
		}
		.form{
			width:14em;
	
			.form-group{
				margin-bottom:.3em;
				transition:all .3s;//*transition för att allt ska växa, det kan nog tas bort sen
				
	
				.form-label{
					//*för floating labels
					font-size:1em;
					color:#aaa;
					display:block;
					transform:translateY(-1.7em);//*styr labeltexten höjdledes i inputfältet
					padding-left:.5em;
					transform-origin:0 0;//*rör sig upp till övre vänstra hörnet
					transition:all .3s;

				}

				//inputfält
				.form-control{
			
					font-size:1.2em;
					//floating labels
					//*för styling av inputfält, vi kan ändra dessa tror jag
			
					border-radius:10px;
					border-color:#ccc;
					// border-style:none none solid none;
					width:100%;
					// transition:all .5s;	//*styr border bottom på formcontrol focus orange
					padding:7px;
					
				}
				.form-control::placeholder{
					color: transparent;
				}

				.form-control:focus{
					outline:none;
					// border-color:orange;
				}

				.form-control:focus + .form-label{
					//translate styr hur högt de hamnar 2 är lägre, 3 högre
					//scale styr hur stora/små de blir, .8 är mindre, .9 är större
					transform:translateY(-3.2em) scale(.9);
					color:grey;
					  
				}
				.form-control:not(:placeholder-shown) + .form-label{
					transform:translateY(-3.2em) scale(.9);
					
				}
			
			}
		}
	button{
		margin-top:1em;
	}
}


@media screen and (min-width:642px){

	.form-wrapper{
		background-image:url('../../assets/formpotatodesktop.svg');
		top: 5em;
		margin-left: auto;
		margin-right: auto;
		
		.form{

			width:23em;
			
			.form-group{
	
				.form-label{
					font-size:1em;
					transform:translateY(-1.65em);//*styr labeltexten höjdledes i inputfältet
					
				}
				.form-control:focus + .form-label{
					//translate styr hur högt de hamnar 2 är lägre, 3 högre
					//scale styr hur stora/små de blir, .8 är mindre, .9 är större
					transform:translateY(-3.1em) scale(.9);
					color:grey;
						
				}
				.form-control:not(:placeholder-shown) + .form-label{
					transform:translateY(-3.1em) scale(.9);
					
				}
			
			}
	
		}

	}

}
@media screen and (min-width:880px){
	.form-wrapper{
		top: 5em;
		
		.form{

			width:23em;
			.form-group{

				.form-label{
					font-size:1em;
					transform:translateY(-1.65em);//*styr labeltexten höjdledes i inputfältet
					
				}
				.form-control:focus + .form-label{
					//translate styr hur högt de hamnar 2 är lägre, 3 högre
					//scale styr hur stora/små de blir, .8 är mindre, .9 är större
					transform:translateY(-3.1em) scale(.9);
					color:grey;
						
				}
				.form-control:not(:placeholder-shown) + .form-label{
					transform:translateY(-3.1em) scale(.9);
					
				}
			
			}

		}

	}

}

@media screen and (min-width: 1076px){

	.form-wrapper{
		background-image:url('../../assets/formpotatodesktop.svg');
		height:35em;
		top: 5em;
		margin-left: auto;
		margin-right: auto;

		.form{
			width:23em;
			.form-group{

				.form-label{
					font-size:1em;
					transform:translateY(-1.65em);//*styr labeltexten höjdledes i inputfältet
					
				}
				.form-control:focus + .form-label{
					//translate styr hur högt de hamnar 2 är lägre, 3 högre
					//scale styr hur stora/små de blir, .8 är mindre, .9 är större
					transform:translateY(-3.1em) scale(.9);
					color:grey;
					  
				}
				.form-control:not(:placeholder-shown) + .form-label{
					transform:translateY(-3.1em) scale(.9);
					
				}
	
			}

		}

	}
	
}

