@import 'mixins.scss';
@import 'variables.scss';

.form-component{
	position:relative;
	height:100vh;

	.hamster-added-wrapper{

		.hamster-dancing{
			border:1px solid hotpink;
			height:5em;
			margin-bottom:1em;
			
		}
		.hamster-text{
			display:grid;
			place-items:center;
			font-size:2em;
		}
	
	}
}


.form-wrapper, .hamster-added-wrapper{
	position:absolute;
	background-image:url('../../assets/formpotatomobile.svg');
	height:85vh;
	background-size:contain;
	background-repeat:no-repeat;
	background-position:center;
	top: 4em;
	z-index: 10;
	margin-left: auto;
	margin-right: auto ;
	left: 0;
	right: 0;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	border:1px solid purple;
	
		p{
			color:$orange;
			font-size:13px;
			
			margin-bottom:1em;
		}
		.form{
			width:10.5em;
	
			.form-group{
				margin-bottom:.5em;
				transition:all .3s;//*transition för att allt ska växa, det kan nog tas bort sen
				position: relative;
				
				.form-label{
					//*för floating labels
					font-size:1em;
					color:#aaa;
					display:block;
					transform:translateY(-1.55em);//*styr labeltexten höjdledes i inputfältet
					padding-left:.5em;
					transform-origin:0 0;//*rör sig upp till övre vänstra hörnet
					transition:all .3s;
					cursor:text;

				}
				//inputfält
				.form-control{
			
					font-size:.9em;
					border-radius:10px;
					border-color:#ccc;
					width:100%;
					padding:7px;
					
				}
				.form-control::placeholder{
					color: transparent;
				}

				.form-control:focus{
					outline:none;
				
				}
				.form-control:focus + .form-label{
					//translate styr hur högt de hamnar 2 är lägre, 3 högre
					//scale styr hur stora/små de blir, .8 är mindre, .9 är större
					transform:translateY(-2.7em) scale(.8);
					color:rgb(175, 174, 174);
				
				}
				.form-control:not(:placeholder-shown) + .form-label{
					transform:translateY(-2.7em) scale(.8);
					
				}
				.imageFile-label{
					background-color:white;
					border-radius:10px;
					color:#aaa;
					display: block;
					padding: 7px 7px;
					cursor: pointer;
					#imageFile{
						display:none;
					}

				}
				.imageFile-label:hover{
					background-color:rgb(231, 230, 230);
				}
				.error-message{
					height: 0.3em;
					position: absolute;
					right:0;
					margin-right:0.3em;
					top: 1.7em;
					
					span{
						color: $darkpurple;
						font-size: 0.8em;
						padding: 0.1em;
					}
				}

			
			}
			.submit-button{
			
				@include button
			}
		}
	button{
		margin-top:1em;
		@include button
	}
	button:hover{
		@include button-hover;
	}
}

@media screen and (min-width: 360px){
	.form-wrapper, .hamster-added-wrapper{
		border:1px solid green;
		p{
			font-size:21px;
		}

		.form{
			width:15em;

			.error-message{
				top: 2em;
				
				span{
					font-size: 0.9em;
				}
			}
		}
	}
}


@media screen and (min-width:642px){

	.form-wrapper, .hamster-added-wrapper{
		height:78vh;
		background-image:url('../../assets/formpotatodesktop.svg');
		top: 5em;
		margin-left: auto;
		margin-right: auto;
		border:1px dotted lightblue;
		
		.form{

			width:22em;

			.form-group{

				.error-message{
					top: 1.9em;
					span{
						font-size: 0.9em;
				
					}
				}
			}
		}
	}
}
@media screen and (min-width:880px){
	.form-wrapper, .hamster-added-wrapper{
		height:78vh;
		top: 5em;
		border:1px solid hotpink;
		.form{

			width:22em;

			.form-group{

				.error-message{
					top: 1.9em;
					span{
						font-size: 0.9em;
				
					}
				}
			}
		}
	}
}

@media screen and (min-width: 1076px){

	.form-wrapper, .hamster-added-wrapper{
		background-image:url('../../assets/formpotatodesktop.svg');
		height:78vh;
		top: 5em;
		margin-left: auto;
		margin-right: auto;
		border:1px solid blue;

		.form{
			width:22em;

			.form-group{

				.error-message{
					top: 1.9em;
					
					span{
						font-size: 0.9em;
				
					}
				}
			}
		}
	}
}

