@import 'variables.scss';
@import 'mixins.scss';

.Gallery {
	overflow-y: scroll;
}
.container-list{
    margin: 9% 3em 15%;
    padding: 1em;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5em 1em;
}
.container-list div{
    background: $lightgreen;
    padding: 1em;
    border-radius: 15px;
    width: 90%;
    height: 54vh;
}
.container-list .competitorBackground{
	background:$darkpurple;
	padding: 1em;
    border-radius: 15px;
    width: 90%;
    height: 54vh;
}
.container-list div p{
    margin-bottom: 0.3em;
    font-size: 2vh;
}
.container-list span{
    font-weight: bold;
    display: block;
    color: $orange;
    font-size: 1.2em;
    margin: 1em 0 0.5em;
}
.container-list .list{
    display: flex;
    flex-direction: column;
    position: relative;
}
.list button, .hand-icon{
    border: 2px solid $orange;
    border-radius: 100%;
    background: $orange;
	color: white;
	font-weight: bold;
	padding: 0.4vh 0.7vh;
	font-size: 2vh;
    margin: 0;
    position: absolute;
    align-self: flex-end;
    transition: ease-in 0.2s;
}
.hand-icon{
	height:4vh;
}
.hand-icon:hover{
	cursor:pointer;
}
.card-cursor:hover{
	cursor:pointer;
}
.list button:hover{
    cursor: pointer;
    border: 3px solid $orange;
    font-weight: bold;
}
.hamster-image{
    width: 100%;
	height: 25vh;
	border-radius: 12px;
}


// Loading
.loading{
	display: grid;
	place-items: center;
	grid-gap: 1vh;
	text-align: center;
}
.loading h2{
    font-size: 4vh;
    margin-top: 30vh;
    color: $orange;
}

// Media
@media screen and (max-width: 1000px){
    .container-list{
        grid-template-columns: repeat(3, 1fr);
    }
}
@media screen and (max-width: 850px){
    .container-list{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width: 550px){
    .container-list{
        grid-template-columns: repeat(1, 1fr);
	}
	.loading h2{
		font-size: 3.5vh;
		margin-left:1em;
		margin-right:1em;
	}
}