@import 'mixins.scss';

.App-header{
	display: flex;
	justify-content: space-between;
}
.navbar{
	width: 250px;
	height: 70%;
	background-color: #F8E1BB;
	position: fixed;
	top: 0;
	left: -300px;
	display: flex;
	justify-content: start;
	align-items: center;
	border-radius:  0 40% 90% 0;
	z-index: 100;
}
.change{
	left: 0;
	transition: all 0.3s;
}
.hamburger-menu{
	width: 35px;
	height: 30px;
	position: fixed;
	top: 1em;
	left: 1em;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.line{
	width: 100%;
	height: 3px;
	background-color: #AD86C2;
	border-radius: 7px;
	transition: all 0.3s;
}
.change .line1{
	transform: rotateZ(-45deg) translate(-8px, 6px);
}
.change .line2{
	opacity: 0;
}
.change .line3{
	transform: rotateZ(45deg) translate(-8px, -6px);;
}
.nav-list{
	text-align: left;
}
.nav-item{
	list-style: none;
	margin: 2em;
}
.nav-link{
	text-decoration: none;
	font-size: 1.2em;
	color: #AD86C2;
	letter-spacing: 1px;
	text-transform: uppercase;
}
.nav-link:hover{
	border-bottom: 2px solid #AD86C2;
}
.top-wave{
	width: 60%;
	right: 0;
}
.mobile-logo{
	display: none;
	position: fixed;
	top: 1em;
	right: 1em;
	width: 50px;
	height: 50px;
}

@media screen and (max-width: 880px) {
	.top-wave{
		display: none;
	}
	.mobile-logo{
		display: block;
	}

  }