@import 'mixins.scss';

.App-header{
	display: flex;
	justify-content: space-between;
}
.App-header nav{
	display: flex;
	justify-content: space-between;
	width:25em;
	margin-top:2em;
	margin-left: 2em;
	width: 40%;
	z-index: 10;
}
a{
	color: $lightpurple;
	font-size:1.2em;
	text-decoration: none;
	margin-left: 0.5em;
}
.top-wave{
	width: 60%;
}

@media screen and (max-width: 880px) {
	.top-wave{
		display: none;
	}

  }