@import "mixins.scss";

.home-main .link-to{
	@include link;
}
.home-main .link-to:hover{
	@include button-hover;
}
.home-main {
	position: relative;
	text-align: center;
	height: 100vh;
}
.home-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	background-image: url("../../assets/home-potato.svg");
	height: 80vh;
	width: 70%;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	top: 10vh;
	z-index: 10;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
}
.home-container > h1 {
	font-size: 6vh;
	line-height: 1.1em;
	margin-bottom: 0.5em;
}
.home-container p {
	font-size: 2vh;
	color: $orange;
	line-height: 1.4em;
	margin-bottom: 3em;
	padding: 0 5em 0;
}
.hamster-icon {
	position: absolute;
	width: 30vh;
	top: 3vh;
	left: 65%;
	z-index: 15;
}
// Shake
.hamster-icon {
	animation: shake 0.85s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
	transform: translate3d(0, 0, 0);
	backface-visibility: hidden;
	perspective: 1000px;
}
@keyframes shake {
	10%,
	90% {
		transform: translate3d(-1px, 0, 0);
	}

	20%,
	80% {
		transform: translate3d(2px, 0, 0);
	}

	30%,
	50%,
	70% {
		transform: translate3d(-4px, 0, 0);
	}

	40%,
	60% {
		transform: translate3d(4px, 0, 0);
	}
}
@media screen and (max-width: 1175px) {
 	.hamster-icon {
 		left: 68%;
 		width: 18vw;
 		top: 3vh;
	}
}
@media screen and (max-width: 950px) {
	.hamster-icon {
		left: 75%;
		width: 20vw;
		top: 3vh;
	}
}
@media screen and (max-width: 800px) {
	.home-container {
		height: 35em;
		width: 80%;
		top: 3em;
	}
	.home-container p {
		font-size: 1em;
	}
}
@media screen and (max-width: 700px) {
	.home-container {
		background-image: url("../../assets/home-potato-responsive1.svg");
		height: 80%;
		width: auto;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		margin-top: 0;
		z-index: 10;
		margin-left: 0.5em;
		margin-right: 0.5em;
		left: 0;
		right: 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.hamster-icon {
		display: none;
	}
	.home-container > h1 {
		font-size: 2em;
	}
	.home-container p {
		font-size: 0.9em;
		padding: 0 14em 0;
	}
}
@media screen and (max-width: 600px) {
	.home-container p {
		padding: 0 9em 0;
	}
}
@media screen and (max-width: 500px) {
	.home-container p {
		padding: 0 6em 0;
	}
}
@media screen and (max-width: 350px) {
	.home-container > h1 {
		font-size: 1.7em;
	}
	.home-container p {
		padding: 0 2em 0;
	}
}
