@import 'mixins.scss';

button{
	@include button
}
.home-main{
	position: relative;
	text-align: center;
}
.home-container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
	background-image: url('../../assets/start-potato.svg');
	height: 35em;
	width: 70%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
	top: -4em;
	z-index: 10;
	margin-left: auto;
    margin-right: auto;
    left: 0;
	right: 0;	
}
.home-container h1{
	font-size: 3em;
	line-height: 1.1em;
	margin-bottom: 0.5em;
}
.home-container p{
	color: $orange;
	line-height: 1.4em;
	margin-bottom: 3em;
}
.hamster-icon{
	position: absolute;
	width: 15em;
	top: 0;
	right: 10%;
}

