@import 'mixins.scss';

.link-toBattle{
	@include button
}
.link-toBattle{
	text-decoration: none;
}
.home-main{
	position: relative;
	text-align: center;
	height:100vh;
}
.home-container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	background-image: url('../../assets/home-potato.svg');
	height: 35em;
	width: 70%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
	top: 4em;
	z-index: 10;
	margin-left: auto;
    margin-right: auto;
    left: 0;
	right: 0;
}
.home-container > h1{
	font-size: 3em;
	line-height: 1.1em;
	margin-bottom: 0.5em;
}
.home-container p{
	color: $orange;
	line-height: 1.4em;
	margin-bottom: 3em;
	padding: 0 5em 0;
}
.hamster-icon{
	position: absolute;
	width: 15em;
	top: -1em;
	left: 70%;
	z-index: 15;
}
// Shake
.hamster-icon {
	animation: shake 0.99s cubic-bezier(.36,.07,.19,.97) both;
	transform: translate3d(0, 0, 0);
	backface-visibility: hidden;
	perspective: 1000px;
  }
  @keyframes shake {
	10%, 90% {
	  transform: translate3d(-1px, 0, 0);
	}
	
	20%, 80% {
	  transform: translate3d(2px, 0, 0);
	}
  
	30%, 50%, 70% {
	  transform: translate3d(-4px, 0, 0);
	}
  
	40%, 60% {
	  transform: translate3d(4px, 0, 0);
	}
  }
// Confetti
/* 
.confetti:focus { outline: 0; }
  
.confetti:before, .confetti:after {
	position: absolute;
	content: '';
	display: block;
	width: 140%;
	height: 100%;
	left: -20%;
	z-index: -1000;
	transition: all ease-in-out 0.5s;
	background-repeat: no-repeat;
}

.confetti:before {
	display: none;
	top: -75%;
	background-image: radial-gradient(circle,$lightpurple 20%, transparent 20%), radial-gradient(circle, transparent 20%,$lightpurple 20%, transparent 30%), radial-gradient(circle,$lightpurple 20%, transparent 20%), radial-gradient(circle,$lightpurple 20%, transparent 20%), radial-gradient(circle, transparent 10%,$lightpurple 15%, transparent 20%), radial-gradient(circle,$lightpurple 20%, transparent 20%), radial-gradient(circle,$lightpurple 20%, transparent 20%), radial-gradient(circle,$lightpurple 20%, transparent 20%), radial-gradient(circle,$lightpurple 20%, transparent 20%);
	background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
}
  
.confetti:after {
	display: none;
	bottom: -75%;
	background-image: radial-gradient(circle,$lightpurple 20%, transparent 20%), radial-gradient(circle,$lightpurple 20%, transparent 20%), radial-gradient(circle, transparent 10%,$lightpurple 15%, transparent 20%), radial-gradient(circle,$lightpurple 20%, transparent 20%), radial-gradient(circle,$lightpurple 20%, transparent 20%), radial-gradient(circle,$lightpurple 20%, transparent 20%), radial-gradient(circle,$lightpurple 20%, transparent 20%);
	background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
}
  
.confetti:active {
	transform: scale(0.9);
	background-color: none;
	box-shadow: 0 2px 25px rgba(255, 0, 130, 0.2);
}

.confetti.animate:before {
	display: block;
	animation: topBubbles ease-in-out 0.75s forwards;
}
  
.confetti.animate:after {
	display: block;
	animation: bottomBubbles ease-in-out 0.75s forwards;
}
@keyframes
	topBubbles {  0% {
	background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
}
	50% {
	background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
	}
   100% {
   background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
   background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
  }
@keyframes
  bottomBubbles {  0% {
   background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
  }
   50% {
   background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
  }
   100% {
   background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
   background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
} */

@media screen and (max-width: 950px){
	.hamster-icon{
		left: 75%;
		width: 12em;
	}
}
@media screen and (max-width: 800px){
	.home-container{
		height: 35em;
		width: 80%;
		top: 3em;
	}
	.home-container p{
		font-size: 1em;
	}
}
@media screen and (max-width: 700px){
	.home-container{
		background-image:url('../../assets/home-potato-responsive1.svg');
		height: 80%;
		width: auto;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		margin-top: 0;
		z-index: 10;
		margin-left: .5em;
		margin-right: .5em;
		left: 0;
		right: 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.hamster-icon{
		display: none;
	}
	.home-container > h1{
		font-size: 2em;
	}
	.home-container p{
		font-size: 0.9em;
		padding: 0 13em 0;
	}
}
@media screen and (max-width: 600px){
	.home-container p{
		padding: 0 9em 0;
	}
}
@media screen and (max-width: 500px){
	.home-container p{
		padding: 0 6em 0;
	}
}
@media screen and (max-width: 350px){
	.home-container > h1{
		font-size: 1.7em;
	}
	.home-container p{
		padding: 0 2em 0;
	}
}