@import 'mixins.scss';

.link-toBattle{
	@include button
}
.link-toBattle{
	text-decoration: none;
}

.home-main{
	position: relative;
	text-align: center;
	height:100vh;
}
.home-container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	background-image: url('../../assets/home-potato.svg');
	height: 35em;
	width: 70%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
	top: 5em;
	z-index: 10;
	margin-left: auto;
    margin-right: auto;
    left: 0;
	right: 0;
}
.home-container > h1{
	font-size: 3em;
	line-height: 1.1em;
	margin-bottom: 0.5em;
}
.home-container p{
	color: $orange;
	line-height: 1.4em;
	margin-bottom: 3em;
	padding: 0 3em 0;
}
.hamster-icon{
	position: absolute;
	width: 15em;
	top: -1em;
	left: 70%;
	z-index: 15;
}
@media screen and (max-width: 950px){
	.hamster-icon{
		left: 75%;
		width: 12em;
	}

}
@media screen and (max-width: 800px){
	.home-container{
		height: 35em;
		width: 80%;
	}
	.home-container p{
		font-size: 1em;
	}
}

@media screen and (max-width: 700px){
	.home-container{
		background-image:url('../../assets/home-potato-responsive.svg');
		margin-left: auto;
		margin-right: auto;
		height: 700px;
		width: 100%;
		top: 0;
	}
	.hamster-icon{
		display: none;
	}
	.home-container > h1{
		font-size: 2em;
	}
	.home-container p{
		font-size: 1em;
	}
}