@import "variables.scss";

// Button
@mixin button {
	background: #fbf2e3;
	border: 2px solid $darkpurple;
	border-radius: 8px;
	color: $darkpurple;
	padding: 1.1vh 2.8vh;
	position: relative;
	font-size: 1em;
	z-index: 1000;
	cursor: pointer;
}
// Button hover
@mixin button-hover {
	color: #fbf2e3;
	text-decoration: none;
	background: $darkpurple;
	transition: all 0.4s ease 0s;
}

@mixin link {
	background: #fbf2e3;
	border: 2px solid $darkpurple;
	border-radius: 8px;
	color: $darkpurple;
	padding: 1.1vh 2.8vh;
	font-size: 1em;
	cursor: pointer;
	text-decoration: none;
}
