@import "variables.scss";

// Button
@mixin button {
	background: #fbf2e3;
	border: 2px solid $lightpurple;
	border-radius: 8px;
	color: $lightpurple;
	padding: 10px 28px;
	font-size: 1em;
	z-index: 1000;
	cursor: pointer;
}
// Button hover
@mixin button-hover {
	color: #fbf2e3;
	text-decoration: none;
	background: $lightpurple;
	transition: all 0.4s ease-in-out;
}

@mixin link {
	background: #fbf2e3;
	border: 2px solid $lightpurple;
	border-radius: 8px;
	color: $lightpurple;
	padding: 10px 28px;
	font-size: 1em;
	cursor: pointer;
	text-decoration: none;
}
