@import 'variables.scss';
@import 'mixins.scss';

.scrollTop {
	position: fixed; 
	width: 100%;
	bottom: 20px;
	align-items: center;
	height: 20px;
	justify-content: end;
	z-index: 1000;
	cursor: pointer;
	animation: fadeInScrollToTop 0.3s;
	transition: opacity 0.4s;
	opacity: 0.5;
	border: 2px solid green;
  }
  
  .scrollTop:hover{
	opacity: 1;
  }
  
  @keyframes fadeInScrollToTop {
	0% {
	  opacity: 0;
	}
	100% {
	  opacity: 0.5;
	}
  }