@import "mixins.scss";
@import 'variables.scss';


#shoppingcart .container {
    display: grid;
    grid-template-rows: 15% 70% 15%;
    height: 100vh;
    place-items: center;
}
#shoppingcart .container .header-cart {
    display: grid;
    grid-template-rows: 10% 90%;
}

#shoppingcart .container .header-cart .flex .to-shop {
    position: relative;
    top: 4vh;
    left: 2vw;
    color: black;
    display: inline-block;
    z-index: 3;
}

#shoppingcart .container .cart-container {
    width: 55vw;
    height: 55vh;
    background-color: $lightgreen;
    display: grid;
    grid-template-rows: 1fr;
    row-gap: 2em;
    overflow: scroll;
    padding-top: 2em;
    border-radius: 10px;
    overflow-x: hidden;
}

#shoppingcart .container .shopping-header {
    text-align: center;
    font-size: 28px;
    position: relative;
}

#shoppingcart .container .cart-container .cart {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-bottom: 2em;
    align-items: center;
    justify-items: center;
    border-bottom: 1px solid grey;
    margin-left: 5em;
    margin-right: 5em;
}

#shoppingcart .container .cart-container .cart .cart-img {
    width: 8vw;
    height: 17vh;
}

