@import "mixins.scss";
@import "variables.scss";
// Green circle related
.circlesInRow {
    margin-top: 20vh;
    grid-column: 1/2;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
}
.iconInsideCircle{
    justify-self: center;
    align-self: center;
    height: 15vh;
    width: 15vh;
}
.circleSpecifics {
    cursor: pointer;
    height: 30vh;
    width: 30vh;
    background-color: $lightgreen;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    transition: all 0.7s ease 0s;
}
.circleSpecifics:hover {
    background-color: $mediumbeige;
    transition: all 0.7s ease 0s;
    animation: transform 3s ease-in-out infinite both alternate;
    // movement 2s ease-in-out infinite both;
}
@keyframes transform {
    0%,
    100% {
        border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%;
    }
    14% {
        border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%;
    }
    28% {
        border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%;
    }
    42% {
        border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%;
    }
    56% {
        border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%;
    }
    70% {
        border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%;
    }
    84% {
        border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%;
    }
}
// @keyframes movement {
//     0%,
//   100% { transform: none; }
//    50% { transform: translateY(20%) rotateY(10deg); }
// }
.miniIconInsideCircle {
    display: none;
}
.miniIconText {
    display: none;
}
.statCircle1 {
    grid-column: 1/3;
    grid-row: 1/2;
}
.statCircle2 {
    grid-column: 3/5;
    grid-row: 1/2;
}
.statCircle3 {
    grid-column: 5/7;
    grid-row: 1/2;
}
.statCircle4 {
    grid-column: 7/9;
    grid-row: 1/2;
}
.statCircle5 {
    grid-column: 1/5;
    grid-row: 2/3;
}
.statCircle6 {
    grid-column: 3/7;
    grid-row: 2/3;
}
.statCircle7 {
    grid-column: 5/9;
    grid-row: 2/3;
}
//Fade effect related
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@media screen and (max-height: 800px) {
    .circlesInRowContainer {
        overflow-y: scroll;
    }
}
@media screen and (max-width: 970px) {
    .circlesInRow {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        justify-items: center;
        grid-gap: 1em;
        margin-top: 10vh;
    }
    .circleSpecifics {
        cursor: pointer;
        height: 26vh;
        width: 26vh;
    }
    .iconInsideCircle{
        justify-self: center;
        align-self: center;
        height: 15vh;
        width: 15vh;
    }
    .statCircle1 {
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .statCircle2 {
        grid-column: 2/3;
        grid-row: 1/2;
    }
    .statCircle3 {
        grid-column: 3/4;
        grid-row: 1/2;
    }
    .statCircle4 {
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .statCircle5 {
        grid-column: 2/3;
        grid-row: 2/3;
    }
    .statCircle6 {
        grid-column: 3/4;
        grid-row: 2/3;
    }
    .statCircle7 {
        grid-column: 2/3;
        grid-row: 3/4;
    }
}
@media screen and (max-width: 770px) {
    .circleSpecifics {
        height: 26vh;
        width: 26vh;
    }
    .circlesInRowContainer {
        overflow-y: scroll;
    }
}
@media screen and (max-width: 690px) {
    .circlesInRow {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        justify-items: center;
        align-items: center;
        align-self: center;
        grid-gap: 0em;
        margin-top: 10vh;
    }
    .miniIconInsideCircle {
        display: none;
    }
    .statCircle1 {
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .miniIconText1 {
        grid-column: 2/3;
        grid-row: 1/2;
    }
    .statCircle2 {
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .miniIconText2 {
        grid-column: 2/3;
        grid-row: 2/3;
    }
    .statCircle3 {
        grid-column: 1/2;
        grid-row: 3/4;
    }
    .miniIconText3 {
        grid-column: 2/3;
        grid-row: 3/4;
    }
    .statCircle4 {
        grid-column: 1/2;
        grid-row: 4/5;
    }
    .miniIconText4 {
        grid-column: 2/3;
        grid-row: 4/5;
    }
    .statCircle5 {
        grid-column: 1/2;
        grid-row: 5/6;
    }
    .miniIconText5 {
        grid-column: 2/3;
        grid-row: 5/6;
    }
    .statCircle6 {
        grid-column: 1/2;
        grid-row: 6/7;
    }
    .miniIconText6 {
        grid-column: 2/3;
        grid-row: 6/7;
    }
    .statCircle7 {
        grid-column: 1/2;
        grid-row: 7/8;
    }
    .miniIconText7 {
        grid-column: 2/3;
        grid-row: 7/8;
    }
    .iconInsideCircle {
        display: none;
    }
    .miniIconInsideCircle {
        display: inline;
    }
    .miniIconText {
        display: inline;
        color: $orange;
        justify-self: start;
    }
    .circleSpecifics {
        margin: 10px 0 10px 0;
        height: 20vh;
        width: 20vh;
    }
}
@media screen and (max-width: 500px) {
    .circleSpecifics {
        height: 15vh;
        width: 15vh;
    }
}