@import 'mixins.scss';

    .ellipsbackground {
	// background-color: rgba(0, 0, 0, 0.8);
	background-color: transparent;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
  }

.circlesInRow{
	display: grid; 
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	justify-items: center;
	// align-self: center;
	margin-top: 8%;
}

.bigCircle1{
	grid-column: 1/2;
	grid-row: 1/2;	
	
}

.bigCircle2{
	grid-column: 2/3;
	grid-row: 1/2;	
}

.bigCircle3{
	grid-column: 3/4;
	grid-row: 1/2;	
}

.bigCircle4{
	grid-column: 4/5;
	grid-row: 1/2;	
}

.bigCircle5{
	grid-column: 5/6;
	grid-row: 1/2;	
}

@keyframes fadeIn {
	0% {
	  opacity: 0;
	}
	100% {
	  opacity: 1;
	}
  }
  
  @keyframes fadeOut {
	0% {
	  opacity: 1;
	}
	100% {
	  opacity: 0;
	}
  }

  @media (max-width: 1175px) {
.circlesInRow{
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	justify-items: center;
}

.bigCircle1{
	grid-column: 1/3;
	grid-row: 1/2;	
	
}

.bigCircle2{
	grid-column: 3/5;
	grid-row: 1/2;	
}

.bigCircle3{
	grid-column: 5/7;
	grid-row: 1/2;	
}

.bigCircle4{
	grid-column: 1/5;
	grid-row: 2/3;	
}

.bigCircle5{
	grid-column: 3/7;
	grid-row: 2/3;	
}
  }

  @media (max-width: 500px) {
.circlesInRow{
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	justify-items: center;
}

.bigCircle1{
	grid-column: 1/3;
	grid-row: 1/2;	
	height: 50px;
	width: 50px;
}

.bigCircle2{
	grid-column: 3/5;
	grid-row: 1/2;	
}

.bigCircle3{
	grid-column: 5/7;
	grid-row: 1/2;	
}

.bigCircle4{
	grid-column: 1/5;
	grid-row: 2/3;	
}

.bigCircle5{
	grid-column: 3/7;
	grid-row: 2/3;	
}
  }