@import 'mixins.scss';

    .ellipsbackground {
	background-color: transparent;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 100;
	cursor: pointer;
  }

.ellipse{
	max-width: 100vw;
}
  
.circlesInRowContainer{
	display: grid; 
	grid-template-columns: 1fr;
	grid-template-rows: 30vh 1fr 30vh;
}


.circlesInRow{
	grid-column: 1/2;
	grid-row: 2/3;	
	display: grid; 
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	justify-items: center;
}

.circleSpecifics{
	cursor: pointer; 
	height: 220px;
	width: 220px;
	background-color: #D8DBBA;
	border: 2px solid #D8DBBA;
	border-radius: 50%;
	display: flex;
	justify-content: center;
}

.circleSpecifics:hover{
	border: 2px solid #F3C8AE;
	transition: all 0.7s ease 0s;
}

.statCircle1{
	grid-column: 1/2;
	grid-row: 1/2;	
}

.miniIconInsideCircle{
	display: none;
}

.miniIconText{
	display:none;
}

.statCircle2{
	grid-column: 2/3;
	grid-row: 1/2;	
}

.statCircle3{
	grid-column: 3/4;
	grid-row: 1/2;	
}

.statCircle4{
	grid-column: 4/5;
	grid-row: 1/2;	
}

.statCircle5{
	grid-column: 5/6;
	grid-row: 1/2;	
}

@keyframes fadeIn {
	0% {
	  opacity: 0;
	}
	100% {
	  opacity: 1;
	}
  }
  
  @keyframes fadeOut {
	0% {
	  opacity: 1;
	}
	100% {
	  opacity: 0;
	}
  }

  @media (max-width: 1175px) {
	.circlesInRowContainer{
	grid-template-rows: 25vh 1fr 15vh;
}
.circlesInRow{
	grid-row: 2/3;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	justify-items: center;
}

.statCircle1{
	grid-column: 1/3;
	grid-row: 1/2;	
	
}

.statCircle2{
	grid-column: 3/5;
	grid-row: 1/2;	
}

.statCircle3{
	grid-column: 5/7;
	grid-row: 1/2;	
}

.statCircle4{
	grid-column: 1/5;
	grid-row: 2/3;	
}

.statCircle5{
	grid-column: 3/7;
	grid-row: 2/3;	
}
  }

  @media (max-width: 700px) {

	.circlesInRowContainer{
	justify-items: center;
	grid-template-rows: 20vh 1fr 20vh;
}

.ellipse1{

}


.circlesInRow{	
	display: grid; 
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
	justify-items: center;
	align-items: center;
}

.miniIconInsideCircle{
	display: none;
}

.statCircle1{
	grid-column: 1/2;
	grid-row: 1/2;	
}

.statCircle2{
	grid-column: 1/2;
	grid-row: 2/3;	
}

.statCircle3{
	grid-column: 1/2;
	grid-row: 3/4;	
}

.statCircle4{
	grid-column: 1/2;
	grid-row: 4/5;	
}

.statCircle5{
	grid-column: 1/2;
	grid-row: 5/5;	
}

	  .iconInsideCircle{
		  display: none;
	  }

	  .miniIconInsideCircle{
		  display: inline;
	  }
	  .miniIconText{
		  display:inline;
		  color: #EFA377;
		  justify-self: start;
	  }
	  
.circleSpecifics{
	margin: 10px 0 10px 0;
	height: 80px;
	width: 80px;
}
  }