@import 'mixins.scss';
@import 'variables.scss';


// Green circle related
.circlesInRowContainer{
display: grid; 
grid-template-columns: 1fr;
grid-template-rows: 1fr 1fr 1fr;
margin-top: -20vh;
// z-index: 1;
}


.circlesInRow{
grid-column: 1/2;
grid-row: 2/3;	
display: grid; 
grid-template-columns: 1fr 1fr 1fr 1fr fr 1fr 1fr 1fr 1fr;
grid-template-rows: 1fr 1fr;
justify-items: center;
}

.circleSpecifics{
cursor: pointer; 
height: 220px;
width: 220px;
background-color: $lightgreen;
border-radius: 50%;
display: flex;
justify-content: center;
transition: all 0.7s ease 0s;
}

.circleSpecifics:hover{
background-color: $mediumbeige;
transition: all 0.7s ease 0s;
  animation: 
    transform 3s ease-in-out infinite both alternate,
    // movement 2s ease-in-out infinite both;
}

@keyframes transform {
    0%,
  100% { border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%; } 
   14% { border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%; } 
   28% { border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%; } 
   42% { border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%; } 
   56% { border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%; } 
   70% { border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%; } 
   84% { border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%; } 
}


// @keyframes movement {
//     0%,
//   100% { transform: none; }
//    50% { transform: translateY(20%) rotateY(10deg); }
// }

.miniIconInsideCircle{
display: none;
}

.miniIconText{
display:none;
}

.statCircle1{
grid-column: 1/3;
grid-row: 1/2;	
}

.statCircle2{
grid-column: 3/5;
grid-row: 1/2;	
}

.statCircle3{
grid-column: 5/7;
grid-row: 1/2;	
}

.statCircle4{
grid-column: 7/9;
grid-row: 1/2;	
}

.statCircle5{
grid-column: 1/5;
grid-row: 2/3;	
}

.statCircle6{
grid-column: 3/7;
grid-row: 2/3;	
}

.statCircle7{
grid-column: 5/9;
grid-row: 2/3;	
}

//Fade effect related
@keyframes fadeIn {
0% {
opacity: 0;
}
100% {
opacity: 1;
}
}

@keyframes fadeOut {
0% {
opacity: 1;
}
100% {
opacity: 0;
}
}

.ellipsebackground {
background-color: transparent;
width: 100%;
height: 100%;
position: fixed;
top: 0;
left: 0;
display: flex;
justify-content: center;
align-items: center;
z-index: 100;
cursor: pointer;
}

.ellipse{
max-width: 100vw;
max-height: 100vh;
}

// Inside pop-up potatoe related
.ellipseTextContainer{
background-color: transparent;
width: 100%;
position: fixed;
top: 35%;
left: 0;
display: grid;
justify-items: center;
align-content: center;
cursor: pointer;
}

.statPotatoeHeader{
font-size: 3em;
margin-bottom: 20px;
}

.statEllipseList{
font-size: 2.5em;
}

.statEllipseListGamesPlayed{
font-size: 3em;
margin-top: 60px;
}

.gridgrid{
display: grid;
grid-template-columns: 25vw 7vw 25vw;
grid-template-rows: 5fr;
justify-items: center;
}

.statEllipseListLatest, .statEllipseListLatestLoading{
font-size: 2em;
}

.tagsStatContainer{
grid-column: 2/3;	
grid-row: 1/6;
}

.vsTag{
font-size: 2em;
color: $lightpurple;
}

.statEllipseListLatestLoading{
grid-column: 2/3;	
grid-row: 1/2;
}

.statEllipseListLatest:nth-child(1){
grid-row: 1/2;
}
.statEllipseListLatest:nth-child(3){
grid-row: 2/3;
}
.statEllipseListLatest:nth-child(5){
grid-row: 3/4;
}
.statEllipseListLatest:nth-child(7){
grid-row: 4/5;
}
.statEllipseListLatest:nth-child(9){
grid-row: 5/6;
}

.statEllipseListLatest:nth-child(even){
grid-column: 1/2;
justify-self: center;
}

.statEllipseListLatest:nth-child(odd){
grid-column: 3/4;
justify-self: center;
}


@media (max-width: 970px) {
.circlesInRowContainer{
grid-template-rows: 25vh 1fr 15vh;
grid-template-rows: 15% 1fr 1fr 15%;
margin-top: -5vh;
}

.circlesInRow{
grid-row: 2/3;
grid-template-columns: 1fr 1fr 1fr;
grid-template-rows: 1fr 1fr 1fr;
justify-items: center;
grid-gap: 1em;
}

.statCircle1{
grid-column: 1/2;
grid-row: 1/2;	

}

.statCircle2{
grid-column: 2/3;
grid-row: 1/2;	
}

.statCircle3{
grid-column: 3/4;
grid-row: 1/2;	
}

.statCircle4{
grid-column: 1/2;
grid-row: 2/3;	
}

.statCircle5{
grid-column: 2/3;
grid-row: 2/3;	
}

.statCircle6{
grid-column: 3/4;
grid-row: 2/3;	
}

.statCircle7{
grid-column: 2/3;
grid-row: 3/4;	
}
}

@media (max-width: 770px) {
	.circlesInRowContainer{

margin-top: 0vh;
}
.circleSpecifics{

height: 200px;
width: 200px;

}
}

@media (max-width: 680px) {
.circlesInRowContainer{
justify-items: center;
grid-template-rows: 10vh 1fr 60vh;

}

.circlesInRow{	
display: grid; 
grid-template-columns: 1fr 1fr;
grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
justify-items: center;
align-items: center;
align-self: center;
grid-gap: 0em;
}

.miniIconInsideCircle{
display: none;
}

.statCircle1{
grid-column: 1/2;
grid-row: 1/2;	
}

.miniIconText1{
grid-column: 2/3;
grid-row: 1/2;	
}

.statCircle2{
grid-column: 1/2;
grid-row: 2/3;	
}

.miniIconText2{
grid-column: 2/3;
grid-row: 2/3;	
}

.statCircle3{
grid-column: 1/2;
grid-row: 3/4;	
}

.miniIconText3{
grid-column: 2/3;
grid-row: 3/4;	
}

.statCircle4{
grid-column: 1/2;
grid-row: 4/5;	
}

.miniIconText4{
grid-column: 2/3;
grid-row: 4/5;	
}

.statCircle5{
grid-column: 1/2;
grid-row: 5/6;	
}

.miniIconText5{
grid-column: 2/3;
grid-row: 5/6;	
}

.statCircle6{
grid-column: 1/2;
grid-row: 6/7;	
}

.miniIconText6{
grid-column: 2/3;
grid-row: 6/7;	
}

.statCircle7{
grid-column: 1/2;
grid-row: 7/8;	
}

.miniIconText7{
grid-column: 2/3;
grid-row: 7/8;	
}

.iconInsideCircle{
display: none;
}

.miniIconInsideCircle{
display: inline;
}
.miniIconText{
display:inline;
color: $orange;
justify-self: start;
}

.circleSpecifics{
margin: 10px 0 10px 0;
height: 80px;
width: 80px;
}

.statPotatoeHeader{
font-size: 2.5em;
margin-top: 30px;
margin-bottom: 10px;
}

.statEllipseList{
font-size: 1.5em;
}

.statEllipseListLatest, .vsTag, .statEllipseListLatestLoading{
font-size: 1.5em;
}

}

@media (max-width: 500px) {
.statPotatoeHeader{
font-size: 1.5em;
margin-top: 70px;
}
.statEllipseList{
font-size: 1.1em;
}
.statEllipseListLatest, .vsTag, .statEllipseListLatestLoading{
font-size: 1.1em;
}
.statEllipseListGamesPlayed{
font-size: 2em;
margin-top: 30px;
}
}

@media (max-width: 400px) {

.statEllipseListLatest, .vsTag, .statEllipseListLatestLoading{
font-size: 0.9em;
}
.statEllipseListGamesPlayed{
font-size: 1.5em;
}

}