@import 'mixins.scss';
@import 'variables.scss';

.ellipsebackground {
background-color: transparent;
width: 100%;
height: 100%;
position: fixed;
top: 0;
left: 0;
display: flex;
justify-content: center;
align-items: center;
z-index: 100;
cursor: pointer;
}

.ellipse{
max-width: 80vw;
max-height: 80vh;
// border: 1px solid red;
}

.ellipse1{
max-width: 80vw;
max-height: 80vh;
// border: 1px solid red;
}

.ellipse2{
display: none;
}

// Inside pop-up potatoe related
.ellipseTextContainer{
background-color: transparent;
width: 100vw;
height: 100vh;
position: fixed;
top: 0;
left: 0;
display: grid;
justify-items: center;
align-content: center;
cursor: pointer;
}

.statLoadingText{
	color: $orange;
}

.statPotatoeHeader{
font-size: 3em;
margin-bottom: 2vh;
grid-column: 1/4;	
grid-row: 1/2;
}

.statBoldFont{
	// font-weight: bold;
	color: $orange;
}

.statEllipseList{
font-size: 2em;
color: white;
grid-column: 2/3;
justify-self: start;	
}

//Latest battles related component
.latestBattlesStatList{
font-size: 2em;
}

.latestLoading{
font-size: 2em;
grid-column: 1/4;
}

.latestBattlesPotatoeGrid{
display: grid;
grid-template-columns: auto 10vw auto;
grid-template-rows: 6fr; 
justify-items: center;
// border: 1px solid red;
}

.potatoeGrid{
display: grid;
grid-template-columns: auto auto auto;
grid-template-rows: 6fr; 
justify-items: center;
// border: 1px solid red;
}

.moreInfoPotatoeGrid{
display: grid;
grid-template-columns: auto auto auto;
grid-template-rows: 6fr; 
justify-items: center;
// border: 1px solid red;
}

.tagsStatContainer{
grid-column: 2/3;	
grid-row: 2/7;
}

.vsTag{
font-size: 2em;
color: $lightpurple;
}


.statEllipseListLatest:nth-child(1){
grid-row: 1/2;
}
.statEllipseListLatest:nth-child(3){
grid-row: 2/3;
}
.statEllipseListLatest:nth-child(5){
grid-row: 3/4;
}
.statEllipseListLatest:nth-child(7){
grid-row: 4/5;
}
.statEllipseListLatest:nth-child(9){
grid-row: 5/6;
}

.statEllipseListLatest:nth-child(even){
grid-column: 1/2;
justify-self: start;
// margin-right: 2vw;
}

.statEllipseListLatest:nth-child(odd){
grid-column: 3/4;
justify-self: start;
// margin-left: 2vw;
}

//More info components
.moreInfoStatPotatoeHeader{
font-size: 1.8em;
margin-bottom: 2vh;
grid-column: 1/4;	
grid-row: 1/2;
}

.moreInfoStatEllipseList{
font-size: 1.2em;
grid-column: 1/4;
color: white;
}

.moreInfoStatEllipseList li{
	margin-bottom: 1vh;
}

@media screen and (max-width: 900px) {
.statPotatoeHeader{
font-size: 2.5em;
}
.statEllipseList, .latestBattlesStatList, .vsTag{
font-size: 1.8em;
}

.moreInfoStatPotatoeHeader{
font-size: 1.4em;
}

.moreInfoStatEllipseList{
font-size: 0.9em;
}
}


@media screen and (max-width: 750px) {
.ellipse{
max-width: 82vw;
max-height: 82vh;
}
.statPotatoeHeader{
font-size: 2em;
}

.statEllipseList, .latestBattlesStatList, .vsTag{
font-size: 1.5em;
}

.moreInfoStatPotatoeHeader{
font-size: 1.2em;
}
.moreInfoStatEllipseList{
font-size: 0.8em;
}
.moreInfoStatEllipseList li{
	margin-bottom: 1vh;
}
}

@media screen and (max-width: 650px) {
.ellipse{
max-width: 92vw;
max-height: 92vh;
}
.ellipse1{
max-width: 95vw;
max-height: 95vh;
}
}

@media screen and (max-width: 600px) {
.ellipse{
max-width: 100vw;
max-height: 100vh;
}
}

@media screen and (max-width: 550px) {
.latestBattlesStatList, .vsTag{
font-size: 1.3em;
}
.ellipse1{
	display:none;
}

.ellipse2{
display: block;
max-width: 140vw;
max-height: 100vh;
// border: 1px solid red;
}

.moreInfoPotatoeGrid{
grid-template-columns: auto 50vw auto;
}

.moreInfoStatPotatoeHeader{
font-size: 1.5em;
margin-bottom: 2vh;
grid-column: 2/3;	
}
.moreInfoStatEllipseList{
font-size: 1em;
grid-column: 2/3;
}
.moreInfoStatEllipseList li{
margin-bottom: 2vh;
}
}


@media screen and (max-width: 500px) {
.statPotatoeHeader{
font-size: 1.5em;
}
.statEllipseList, .latestBattlesStatList, .vsTag{
font-size: 1.2em;
}
}

@media screen and (max-width: 450px) {
.latestBattlesStatList, .vsTag{
font-size: 1.1em;
}
.moreInfoStatPotatoeHeader{
font-size: 1.3em;
	
}
.moreInfoStatEllipseList{
font-size: 0.9em;

}
}

@media screen and (max-width: 400px) {
.statPotatoeHeader{
font-size: 1.3em;
}
.statEllipseList, .latestBattlesStatList, .vsTag{
font-size: 0.9em;
}
.moreInfoPotatoeGrid{
grid-template-columns: auto 45vw auto;
}
.moreInfoStatPotatoeHeader{
font-size: 1.1em;	
}
.moreInfoStatEllipseList{
font-size: 0.7em;
}
}

@media screen and (max-width: 350px) {
.statPotatoeHeader{
font-size: 1.1em;
}
.statEllipseList, .latestBattlesStatList, .vsTag{
font-size: 0.7em;
}
}

