@import 'mixins.scss';

    .ellipsbackground {
	// background-color: rgba(0, 0, 0, 0.8);
	background-color: transparent;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	display: flex;
	justify-content: center;
	align-items: center;
	// display: grid;
	// grid-template-columns: 1fr 1fr 1fr;
	// grid-template-rows: 1fr 1fr 30%;
	z-index: 100;
	cursor: pointer;
	
  }

.ellipse1{
	margin-left: 13%;
}

// .ellipse2{
// 	grid-column: 2/3;
// 	grid-row: 1/1;

// }
  
.circlesInRowContainer{
	display: grid; 
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr 1fr;
}


.circlesInRow{
	grid-column: 1/2;
	grid-row: 2/3;	
	display: grid; 
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	justify-items: center;
}

.circleSpecifics{
	cursor: pointer; 
	height: 220px;
	width: 220px;
	background-color: #D8DBBA;
	border: 2px solid #D8DBBA;
	border-radius: 50%;
	display: flex;
	justify-content: center;
}

.circleSpecifics:hover{
	border: 2px solid #F3C8AE;
	transition: all 0.7s ease 0s;
}

.statCircle1{
	grid-column: 1/2;
	grid-row: 1/2;	
}

.statCircle2{
	grid-column: 2/3;
	grid-row: 1/2;	
}

.statCircle3{
	grid-column: 3/4;
	grid-row: 1/2;	
}

.statCircle4{
	grid-column: 4/5;
	grid-row: 1/2;	
}

.statCircle5{
	grid-column: 5/6;
	grid-row: 1/2;	
}

@keyframes fadeIn {
	0% {
	  opacity: 0;
	}
	100% {
	  opacity: 1;
	}
  }
  
  @keyframes fadeOut {
	0% {
	  opacity: 1;
	}
	100% {
	  opacity: 0;
	}
  }

  @media (max-width: 1175px) {
	.circlesInRowContainer{
	grid-template-rows: 15% 1fr 1fr 15%;
}
.circlesInRow{
	grid-row: 2/3;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	justify-items: center;
}

.statCircle1{
	grid-column: 1/3;
	grid-row: 1/2;	
	
}

.statCircle2{
	grid-column: 3/5;
	grid-row: 1/2;	
}

.statCircle3{
	grid-column: 5/7;
	grid-row: 1/2;	
}

.statCircle4{
	grid-column: 1/5;
	grid-row: 2/3;	
}

.statCircle5{
	grid-column: 3/7;
	grid-row: 2/3;	
}
  }

  @media (max-width: 500px) {
.circlesInRow{
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	justify-items: center;
}

.bigCircle1{
	grid-column: 1/3;
	grid-row: 1/2;	
	height: 50px;
	width: 50px;
}

.bigCircle2{
	grid-column: 3/5;
	grid-row: 1/2;	
}

.bigCircle3{
	grid-column: 5/7;
	grid-row: 1/2;	
}

.bigCircle4{
	grid-column: 1/5;
	grid-row: 2/3;	
}

.bigCircle5{
	grid-column: 3/7;
	grid-row: 2/3;	
}
  }