@import "mixins.scss";
@import 'variables.scss';


#webshop .container{
    display: grid;
    grid-template-rows: 15% 70% 15%;
    gap: 1.5em 1em;
    height: 100vh;
}

#webshop .container main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-right: 15em;
    padding-left: 15em;
    place-items: center;
    gap: 3em;
    z-index: 1;
    overflow: scroll;
    overflow-x: hidden;
}

#webshop .container main h2 {
    margin-bottom: 15px;
}

#webshop .container main .price {
    font-size: 19px;
    color: $darkpurple;
}

#webshop .container .shop{
    z-index: 2;
    display: flex;
}

#webshop .container .shop a{
    text-decoration: none;
    font-size: 25px;
    color: $darkpurple;
}

#webshop .container .shopping-cart{
    width: 4vw;
    height: 8vh;
    justify-content: start;
    margin-top: 8vh;
    margin-left: 7vw;
}

#webshop .container main div {
    display: grid;
    grid-template-rows: 20% 55% 20% 5%;
    background-color: $lightgreen;
    padding: 1em;
    border-radius: 15px;
    place-items: center;
}

#webshop .container main div .image{
    width: 15vw;
    border: 1px solid grey;
}

#webshop .container main div .buy-btn{
    @include button;
    margin-top: 10px;
    margin-bottom: 20px;
}

#webshop .container main div .buy-btn:hover{
    @include button-hover;
}

