@import "../src/components/scss/variables.scss";

* {
  padding: 0;
  margin:0;
  box-sizing: border-box;
  font-family: Ubuntu, sans-serif;
}
.App{
  width: 100vw;
  height: 100vh;
  background-color: $lightbeige;
  position:fixed;
}
h1{
  color: $orange;
  font-weight: 900;
  font-size: 64px;
}
h2{
  color: $orange;
}
h3{
  color: $lightpurple;
}
p,span{
  color: $white;
}
input[type="text"]{
  padding:0.3em 0.5em;
  border:none;
  border-radius: 10px;
}
